*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient( to right, #090979, #00d4ff);
}

.calculadora{
    display: grid;
    justify-content: center;
    height: 100vh;
    align-content: center;
    grid-template-columns: repeat(7, minmax(5rem, 10rem));
    grid-template-rows: minmax(14rem, auto) repeat(5, minmax(5rem, 10rem));
}

.salida{
    grid-column: 1/8;
}

.span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
}

.calculadora > button{
    cursor: pointer;
    background: rgba( 255, 255, 255, .75 );
    border: 1px solid white;
    font-size: min(5vw, 3.5rem);
    outline: none;
}

.calculadora > button:hover{
    background: rgba( 255, 255, 255, .9 );
}

.calculadora > button.base{
    background: rgba( 255, 255, 255, .5 );
}

.calculadora > button.base:hover, .calculadora > button.base.seleccionado{
    background: rgba( 255, 255, 255, .2 );
}

.calculadora > button.deshabilitado{
    pointer-events: none;
    background: lightgray;
}

sub{
    vertical-align: sub;
    font-size: smaller;
}

.calculadora > .salida{
    background: rgba( 0, 0, 0, .65 );
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    color: white;
    align-items: flex-end;
    padding: 2rem;
}

.calculadora > .salida > .operando-anterior{
    font-size: 2.5rem;
    font-weight: lighter;
    flex-wrap: wrap-reverse;
    word-break: break-all;
}

.calculadora > .salida > .operando-actual{
    font-size: 3rem;
    flex-wrap: wrap-reverse;
    word-break: break-all;
}

.calculadora > .salida > .operando-actual-binario, .calculadora > .salida > .operando-anterior-binario{
    font-size: 2rem;
    flex-wrap: wrap-reverse;
    word-break: break-all;
}